.main{
background-image: radial-gradient(circle at top left,rgba(0,79,140,0.34) 0%,rgba(0,56,94,0.75) 50%)!important;
}
.event-start-end-date{
 display:none; 
}
.bt-rich-text span{
background-color: unset !important;
}
.main[_ngcontent-tai-c193]{
  border-radius:9px; 
}
.details[_ngcontent-jgx-c194]{
 border-radius:9px; 
}
.event-name{
 display:none;
}
.form[_ngcontent-mxp-c194] {
  border-radius:9px;
}
